.navbar {
    width: 100%;
    height: 80px;
    background-color: #1E1E1E;
    position: relative;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__logo {
            margin: 2px;
        }

        &__link {
            display: flex;
            flex-direction: row;
            gap: 10px;

            &__item {
                font-size: 20px;
                padding: 5px;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: #000;
                    transition: 0.5s;
                }

                &__active {
                    background-color: #fff;
                    color: #000;
                }
            }
        }

        &__box {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-right: 50px;

            &__button {
                padding: 10px;
                border-radius: 10px;

                &:hover {
                    opacity: 0.5;
                    transition: 0.5s;
                }
            }
        }

        &__modal {
            &__hr {
                color: #000;
                margin: 10px 0;
            }

            &__title {
                font-size: 30px;
                align-self: center;
            }

            &__button {
                padding: 15px 10px;
                align-self: flex-end;
                border-radius: 10px;
                width: 100%;

                &:hover {
                    opacity: 0.5;
                    transition: 0.5s;
                }
            }
        }
    }

}