.button {
    padding: 15px 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.primary {
    background-color: #444AB9;
    color: #fff;
}

.secondary {
    background-color: #D2D2D2;
    color: #000;
}